<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- Title -->
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Title" formControlName="title" matInput type="text">
          </mat-form-field>
           <div *ngIf="titleField.touched && titleField.invalid">
            <p *ngIf="titleField.hasError('required')">El campo es requerido</p>
            <p *ngIf="titleField.hasError('minLength')">Mínimo 4 caracteres</p>
          </div>
        </div>
      </div>

      <!-- Price -->
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Price" formControlName="price" matInput type="number">
          </mat-form-field>
          <div *ngIf="priceField.errors && priceField.dirty">
            <p *ngIf="priceField.hasError('price_invalid')">no te debes pasar de 10000</p>
            <p *ngIf="priceField.hasError('required')">el campo es requerido</p>
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea placeholder="Text" formControlName="description" matInput></textarea>
          </mat-form-field>
          <div *ngIf="descriptionField.touched && descriptionField.invalid">
            <p *ngIf="descriptionField.hasError('required')">El campo es requerido</p>
            <p *ngIf="descriptionField.hasError('minLength')">Mínimo 10 caracteres</p>
          </div>
        </div>
      </div>

      <!-- Image -->
      <div class="row">
        <div class="col-xs">
          <div *ngIf="imageField.value">
            <ul *ngFor="let i of imageField.value">
              <img [src]="i.value" alt="" />

            </ul>
          </div>
          <!-- <img *ngIf="imageField.value" [src]="imageField.value" alt=""> -->
          <input type="file" (change)="uploadFile($event)">
        </div>
        <div *ngIf="imageField.touched && imageField.invalid">
            <p *ngIf="imageField.hasError('required')">El campo es requerido</p>
          </div>
      </div>

      <!-- Categorias -->
       <div class="row">
        <div class="col-xs">
          <mat-form-field>
           <mat-label>Categories</mat-label>
           <mat-select formControlName="categoryId">
              <mat-option [value]="category.id" *ngFor="let category of categories">{{category.id}} - {{category.name}}</mat-option>  
           </mat-select>
          </mat-form-field>
        </div>
      </div>



    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Crear</button>
    </mat-card-actions>
  </mat-card>
  
</form>
